/* Global */

body {
    background-color: #ff0000;
    color: #fff;
    font-family: 'Faustina', sans-serif;
}
.container {
    background-color: #F8F8F8;
    color: #000;
}
.btn {
    border-radius: 1px;
}
h1, h2, h3, .lead, small, a {
    font-family: 'Graduate', sans-serif;
}
h1 {
    color: #ff0000;
    text-shadow: 2px 2px 2px #222222;
}
h1:hover {
    text-shadow: 3px 3px 3px #222222;
}
h2:hover {
    text-shadow: 2px 2px 2px #222222;
}
a.unstyled_link:hover {
    text-decoration: none;
}
h2 {
    color: #ff0000;
    text-shadow: 1px 1px 1px #222222;
}
.comment {
    font-size: 1.5em;
}
.quote {
    display: block;
    margin-left: 1em;
    color: #789922;
    font-family: 'Graduate', sans-serif;
}
.quotelink {
    display: none;
}
b {
    display: none;
}

/* Orange Action Bootstrap-Styled Button */
.btn-action {   
    background-color: hsl(44, 100%, 56%) !important; 
    background-repeat: repeat-x; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc31e", endColorstr="#ffc31e"); 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc31e), to(#ffc31e)); 
    background-image: -moz-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: -ms-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc31e), color-stop(100%, #ffc31e)); 
    background-image: -webkit-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: -o-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: linear-gradient(#ffc31e, #ffc31e); 
    border-color: #ffc31e #ffc31e hsl(44, 100%, 56%); 
    color: #333 !important; 
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
    -webkit-font-smoothing: antialiased;
}
.btn-action:hover {
    background-color: hsl(38, 100%, 54%) !important; 
    background-repeat: repeat-x; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa814", endColorstr="#ffa814"); 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa814), to(#ffa814)); 
    background-image: -moz-linear-gradient(top, #ffa814, #ffa814); 
    background-image: -ms-linear-gradient(top, #ffa814, #ffa814); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa814), color-stop(100%, #ffa814)); 
    background-image: -webkit-linear-gradient(top, #ffa814, #ffa814); 
    background-image: -o-linear-gradient(top, #ffa814, #ffa814); 
    background-image: linear-gradient(#ffa814, #ffa814); 
    border-color: #ffa814 #ffa814 hsl(38, 100%, 54%); 
    color: #333 !important; 
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
    -webkit-font-smoothing: antialiased;
}
.btn-danger:hover {
    background-color: #ff0000;
}