/* Variables */
:root {
    --color-red-primary: #FF0000;
    --color-red-light: #FF3939;
    --color-red-dark: #C60000;
    --color-black-primary: #000000;
    --color-black-light: #222222;
    --color-white-dark: #F8F8F8;
}

/* Global */
body {
    background-color: var(--color-red-light);
    font-family: 'Faustina', sans-serif;
}
h1, h2, h3, .lead, small, a {
    font-family: 'Graduate', sans-serif;
}
h1, h2, h3 {
    color: var(--color-red-primary);
}
h1 {
    text-shadow: 2px 2px 2px var(--color-black-light);
}
h1:hover {
    text-shadow: 3px 3px 3px var(--color-black-light);
}
h2 {
    text-shadow: 1px 1px 1px var(--color-black-light);
}
h2:hover {
    text-shadow: 2px 2px 2px var(--color-black-light);
}

/* Helper Classes */
a.unstyled_link:hover {
    text-decoration: none;
}

/* Comments */
.comment {
    font-size: 1.5em;
}
.quote {
    display: block;
    margin-left: 1em;
    color: #789922;
    font-family: 'Graduate', sans-serif;
}
.quotelink {
    display: none;
}
b {
    display: none;
}

/* Print */
.print_container {
    text-align: center;
    padding-top: 1em;
}
.print_container img {
    display: block;
    margin: 0 auto;
}

/* Radio */
.radio_button_parent {
    width: 1em;
    height: 1em;
    background-color: var(--color-red-primary);
    border: 1px solid var(--color-red-primary);
    border-radius: 1em;
}
.radio_button_play_icon {
    position: relative;
    width: 0;
    pointer-events: none
}
.radio_button_parent:before {
    content: "\e029";
}
.radio_button_iframe {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    margin-bottom: -0.1em;
    margin-left: 0.1em;
    opacity: 0.1;
}
.radio_iframe {
    width: 100%;
    height: 70vh;
}

/* Bootstrap Overrides */
.container {
    background-color: var(--color-white-dark);
    color: var(--color-black-primary);
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.btn {
    border-radius: 1px;
}
.btn-danger:hover {
    background-color: var(--color-red-light);
}

/* Orange Action Bootstrap-Styled Button */
.btn-action {   
    background-color: hsl(44, 100%, 56%) !important; 
    background-repeat: repeat-x; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc31e", endColorstr="#ffc31e"); 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc31e), to(#ffc31e)); 
    background-image: -moz-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: -ms-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc31e), color-stop(100%, #ffc31e)); 
    background-image: -webkit-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: -o-linear-gradient(top, #ffc31e, #ffc31e); 
    background-image: linear-gradient(#ffc31e, #ffc31e); 
    border-color: #ffc31e #ffc31e hsl(44, 100%, 56%); 
    color: #333 !important; 
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
    -webkit-font-smoothing: antialiased;
}
.btn-action:hover {
    background-color: hsl(38, 100%, 54%) !important; 
    background-repeat: repeat-x; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa814", endColorstr="#ffa814"); 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffa814), to(#ffa814)); 
    background-image: -moz-linear-gradient(top, #ffa814, #ffa814); 
    background-image: -ms-linear-gradient(top, #ffa814, #ffa814); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa814), color-stop(100%, #ffa814)); 
    background-image: -webkit-linear-gradient(top, #ffa814, #ffa814); 
    background-image: -o-linear-gradient(top, #ffa814, #ffa814); 
    background-image: linear-gradient(#ffa814, #ffa814); 
    border-color: #ffa814 #ffa814 hsl(38, 100%, 54%); 
    color: #333 !important; 
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00); 
    -webkit-font-smoothing: antialiased;
}